.App {
  background-color: rgb(38 36 129);
  color: rgb(255 255 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: min(7vmin, 0.8cm);
  height: 99vh;
  display: grid;
  grid-template-areas:
    "stats"
    "foundWords"
    "currentWord"
    "board"
    "controls";
  grid-template-rows:
    auto
    1fr
    auto
    auto
    auto;
}

button {
  font-size: min(5vmin, 0.5cm);
}

select {
  font-size: min(7vmin, 0.8cm);
}

input {
  min-width: min(7vmin, 0.8cm);
  min-height: min(7vmin, 0.8cm);
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: stats;
  padding: 10px;
}

#foundWords {
  grid-area: foundWords;
  display: flex;
  background-color: white;
  color: black;
  flex-direction: column;
  min-height: 10vh;
  overflow: scroll;
  flex-wrap: wrap;
  padding: 10px;
  font-size: initial;
}

#foundWords > div {
  margin: 3px;
}

#currentWord {
  grid-area: currentWord;
  text-align: center;
  white-space: pre;
}

#wordResult {
  grid-area: board;
  background-color: rgb(38 36 129);
  touch-action: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  grid-area: board;
  display: grid;
  background-color: rgb(38 36 129);
  touch-action: none;
  justify-content: center;
}

#board.rows5 {
  grid-template-columns: repeat(5, 16vmin);
  grid-template-rows: repeat(5, 16vmin);
}

#board.rows4 {
  grid-template-columns: repeat(4, 20vmin);
  grid-template-rows: repeat(4, 20vmin);
}

.letter {
  touch-action: none;
  margin: min(4vmin, 0.4cm);
  background-color: rgb(38 36 129);
  font-weight: bold;
  text-align: center;
}

.letter.unavailable {
  color: darkgray;
}

#controls {
  display: flex;
  justify-content: space-evenly;
  grid-area: controls;
  border-top: 2px solid white;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: min(10vmin, 1cm);
  height: min(10vmin, 1cm);
  margin: 5px;
  background-color: transparent;
}

#infoButton {
  background-image: url("./images/info.svg");
}

#info {
  white-space: pre-line;
  padding: 10px;
}

#settingsButton {
  background-image: url("./images/settings.svg");
}

#pauseButton {
  background-image: url("./images/pause.svg");
}

#newGameButton {
  background-image: url("./images/new_game.svg");
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
  animation-duration: 2s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 0.9;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  background-color: rgb(38 36 129);
  justify-content: center;
  align-items: center;
}

#settings {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  align-items: stretch;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0.5cm;
}

.setting-description {
  padding: 0 5px 0 0;
}

#setting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#setting-buttons > button {
  margin: 10px;
}

a {
  color: white;
}

@media (orientation: landscape) {
  .App {
    grid-template-areas:
      "stats currentWord controls"
      "foundWords board controls";
    grid-template-columns: 1fr;
  }

  #controls {
    flex-direction: column;
    border: solid white;
    border-width: 0 0 0 2px;
    align-items: center;
  }

  #currentWord {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.computerWord {
  color: gray;
}
