.App {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.letter {
  touch-action: none;
  /*   pointer-events: all; */
  /* border: 1px solid darkgray; */
  /* padding:50px; */
  margin: 10px;
  border-radius: 5px;
  background-color: lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  /* todo: make px values and font size more responsive, make color a gradient */
}

.letter.unavailable {
  color: darkgray;
  background-color: lightgray;
}

.yo {
  color: red;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  background-color: lightgray;
  touch-action: none;
  justify-content: center;
  /* width: 100px; */
}

#foundWords {
  display: flex;
  background-color: white;
  border: 1px solid black;
  flex-direction: column;
  min-height: 30vh;
}

#currentWord {
  min-height: 5vh;
  text-align: center;
}
