.App {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.letter {
  touch-action: none;
/*   pointer-events: all; */
  /* border: 1px solid darkgray; */
  /* padding:50px; */
  margin: 10px;
  border-radius: 5px;
  background-color: lightgray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  /* todo: make px values and font size more responsive, make color a gradient */
}

.letter.unavailable {
  color: darkgray;
  background-color: lightgray;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  background-color: lightgray;
  /* width: 100px; */
}

#foundWords {
  display: flex;
  flex-direction: column;
}