
/* jigsaw-specific */

#jigsaw {
  display: grid;
  grid-template-areas:
    "board"
    "pool"
    "controls";
  grid-template-rows:
    1fr
    auto
    auto;
}

#jigsaw #board {
  grid-area: board;
  touch-action: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-self: center;
  color: rgb(239 239 239);
  border: 1px solid rgb(239 239 239);
  position: absolute;


}

#jigsaw .boardLetter {
  left: var(--x);
  top: var(--y);
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 8vmin);
  grid-template-rows: repeat(3, 8vmin);
}

#jigsaw #pool {
  grid-area: pool;
  touch-action: none;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  border: 1px solid rgb(239 239 239);
}

#jigsaw .poolLetter {
  display: grid;
  grid-template-columns: repeat(3, 8vmin);
  grid-template-rows: repeat(3, 8vmin);
  justify-content: center;
  align-items: center;
  font-size: var(--default-font-size);
}


#canvas {
  width: 24vmin;
  height: 24vmin;
}

#boardCanvas {
  width: 24vmin;
  height: 24vmin;

  left: var(--x);
  top: var(--y);
  position: absolute;

}

#jigsaw #result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jigsaw .dragging {
  opacity: 0.5;
}